<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Date of birth</th>
      <th>GPA</th>
      <th>Start date</th>
      <th>Courses</th>
      <th>Awards</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td class="name">
          <%= student.given_name %>
          <%= student.middle_name %>r
          <%= student.family_name %>
        </td>
        <td><%= student.date_of_birth %></td>
        <td><%= student.grade_point_average %></td>
        <td><%= student.start_date %></td>
        <td><%= student.courses.count %></td>

        <td><%= student.awards.count %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Awards', student_awards_path(student) %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: :destroy %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'New Student', new_student_path %>
<% end %>
