/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
/* ---------- AWARDS.SCSS ---------- */
/* ---------- SCAFFOLDS.SCSS ---------- */
/* line 3, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: lightblue;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 12, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 19, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 25, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 28, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 32, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 38, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 42, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 49, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 54, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 58, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 64, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 72, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 83, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 89, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* ---------- STUDENTS.SCSS ---------- */
/* line 13, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/students.scss */
body {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
  padding: 4px;
  width: 80%;
}

/* line 22, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/students.scss */
body h1 {
  background-color: #0067A1;
  padding: 10px;
  color: #FFF;
  margin: 0;
}

/* line 29, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/students.scss */
td.name {
  color: #0067A1;
}

/* line 33, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/students.scss */
a {
  color: #0B3641;
}
/* line 35, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/students.scss */
a:hover {
  background-color: #FFF;
  color: #23C331;
}
/* line 39, /Users/annaschwab/wdi/learn_rails_5/awardly/app/assets/stylesheets/students.scss */
a.destroy {
  color: #DB4327;
}
