<p id="notice"><%= notice %></p>

<h1>Awards for <%= @student.name %></h1>

<% if !@student.awards.empty? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Student</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @awards.each do |award| %>
        <tr>
          <td><%= award.name %></td>
          <td><%= award.year %></td>
          <td><%= award.student.name %></td>
          <td><%= link_to 'Show', [ @student, award ] %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_student_award_path( @student, award )%></td>
            <td><%= link_to 'Destroy', [ @student, award ], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% else %>
  <p><%= @student.given_name %> hasn't won any awards yet.</p>
<% end %>

<% if current_user.admin? %>
  <%= link_to 'New Award', new_student_award_path(@student) %>
<% end %>
<%= link_to 'Back', @student %>
