<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @award.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @award.year %>
</p>

<p>
  <strong>Student:</strong>
  <%= @award.student.name %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_student_award_path(@student, @award) %> |
<% end %>
<%= link_to 'Back', student_awards_path(@student) %>
