<p id="notice"><%= notice %></p>
<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Enrolled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.students.count %></td>
        <td><%= link_to 'Show', course %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'New Course', new_course_path %>
<% end %>
