<!-- This generates a roll call list through the connections from courses to students -->
<h1> Roll for <%= @course.name %></h1>

<% if @course.students.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>GPA</th>
      </tr>
    </thead>

    <tbody>
      <% @course.students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student %></td>
          <td><%= student.grade_point_average %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No students are enrolled</p>
<% end %>

<p><%= link_to "Back", @course %></p>
