<p>
  <%= link_to "Students", students_url %> |
  <%= link_to "Courses", courses_url %> |
  <% if current_user %>
    Logged in as <%= current_user.email %> |
    <%= link_to "Log Out", logout_path %>
  <% else %>
  <%= link_to "Sign Up", signup_path %> |
  <%= link_to "Log in", login_path %>
  <% end %>
</p>

<hr />
